.gridcontainer {
    display: grid;
    height: 100vh;
    row-gap: 15px;
    column-gap: 15px;
    grid-template-columns: 33.3% 33.4% 33.3%;
    grid-template-areas:
        'header header header'
        'nav nav nav'
        'section section section'
        'section section section'
        'section section section'
        'section section section'
        'section section section'
        'footer footer footer'
    ;
}

.index {}

.restaurant {
    grid-area: section;
}

.nav {
    grid-area: nav;
    text-align: center;
    padding: 15px;
    gap: 4rem;
    background-color: #e67e22;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

.header {
    background-image: url(../misc/Middag.jpg);
    text-align: center;
    padding: 230px;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -08px;
    margin-top: -8px;
    background-size: cover;
    font-size: 5rem;
    color: blanchedalmond;

}

.News {}